<div id="login" data-register-path='<%= "#{api_users_register_path}.json" %>' 
    data-updatefriends-path='<%= "#{api_users_update_friends_path}.json" %>'>
  <div id="sign-in"></div>
  <a id="sign-out" href="#" >Sign out</a>
</div>
